

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 3;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#heading {
  text-align: center;
}

#main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#left-side {
  flex: 1;
}

#left-side img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#left-side p {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-top: 6px; /* Space between images and paragraph */
}
#left-side h2 {
  margin-bottom: 10px;
}

#right-side {
  flex: 1;
}

#right-side #project-row {
  margin-bottom: 40px;
}

#right-side h3 {
  margin-bottom: 10px;
}

#right-side .images {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

#right-side .images img {
  width: 20%; /* Reduced image width to 30% */
  height: auto;
  border-radius: 6px;
  object-fit: cover; /* Ensures images fit well within the container */
}

#right-side p {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-top: 6px; /* Space between images and paragraph */
}

#right-side h3 {
  margin-bottom: 10px;
}
#right-side h4 {
  margin-bottom: 10px;
}
#footer-items {
  list-style: none;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

#footer-items li {
  margin: 5px 0;
}

a {
  color: #8da3eb;
  text-decoration: none;
}

a:hover {
  color: #4c6aca;
  text-decoration: underline;
  transition: 0.2s;
}
#small-images-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#small-images-row a {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

#small-images-row img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#small-images-row img:hover {
  transform: scale(1.1);
}
